html{
    box-sizing: border-box;
}

body{
    margin: 0;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
}

header{
    text-align: center;
    width:100%;
}


main{
    width: 100%;
}

.game-board-table{
    display: flex;
    justify-content: center;
    align-items: center;
}

table{
    border-collapse:collapse;
    margin:30px
}

table button{
    border:none;
    background-color: #ffffff;
}

table tr td{
   border-bottom: 2px solid black; 
}

table tr:first-child td:nth-child(2){
    border-left:2px solid black;
    border-right:2px solid black;
    
}

table tr:nth-child(2) td:nth-child(2){
    border-left:2px solid black;
    border-right:2px solid black;
}

table tr:last-child td{
    border-bottom:none;
}

table tr:last-child td:nth-child(2){
    border-left:2px solid black;
    border-right:2px solid black;
}

footer{
    margin-top: auto;
}

td{
    width: 100px;
    height:100px;
    text-align: center;
}

table tr td button{
    width:100%;
    height:100%;
    
}

.modal{
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
}

.modal-block{
    position:absolute;
    left:40%;
    top:20%;
    background-color: rgb(85, 85, 207) ;
    padding: 10px;
    border-radius:15px;
}

.modal-block h2{
    text-align: center;
}

#start{
    display:block;
    margin: 10px auto;
    
}

.winner{
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    font-style: italic;
}

.wrapper{
    display: flex;
    justify-content: space-between;
}

.hidden{
    visibility: hidden;
}